body, html{
    height: 100%;
}
.bg{
    background-color:#fff;
    box-shadow: 0px 5px 10px 0px rgba(214,214,214,1);
}

.borda-teste{
    border: 1px solid black;
}

.btn-cliente{
    background-color: #EA7442;
    color: #fff;
}
.btn-cliente:hover{
    color: #000;
    background-color: transparent;
    border: solid 1px #EA7442;
    box-sizing: border-box;    
}