body {
    background-color: black;
}
body, html{
    height: 100%;
}
.bg{
    background-color:#fff;
    box-shadow: 0px 5px 10px 0px rgba(214,214,214,1);
}

.borda-teste{
    border: 1px solid black;
}

#menu .nav-link{
    color: #0B4F66;
    font-weight: bold;
    font-size: 1.3em;
}

#menu li a:hover{
    background-color: #0B4F66;
    color: #ce5d2c;
    transform: scale(1.1,1.1);
    transition: ease 0.6s;
    border-radius: 5px;
}

#btn .nav-link{
    color: #fff;
    background-color: #EA7442;
    border-radius: 5px;
}

#btn li a:hover{
    color: #0B4F66;
    background-color: transparent;
    border: solid 1px #EA7442;
    box-sizing: border-box;
}

.cor-redes{
    color: #0B4F66;
    font-size: 1.2em;   
}

#redes li a:hover{
    font-weight: bold;
    transform: translateY(-5px) rotate(30deg);    
    transition: ease 0.6s;
}

/* conteudo home*/

.item1 .carousel-caption h2{    
    color: #0B4F66;
    font-weight: bold;
}
.item1 .carousel-caption p{    
    color: #fff;
    font-weight: 300;
}
.item1 .carousel-caption{
    top: 10%;
    left: 10%;
    text-align: start;
}
.carousel-control-next i, .carousel-control-prev i{
    font-size: 1.8em;
    color: #EA7442;
}
@media(min-width: 1000px){
    #slider .carousel-inner, #slider .carousel-item{
        height: 90vh;
    }
}
@media(max-width: 600px){
    .item1 .carousel-caption p{
        display: none;
    }  
}
.carousel-indicators li{
    background-color: #0B4F66;
}
/* CSS DA PAGINA CONTATO.HTML */

.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #EA7442;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
    color: #fff
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #0B4F66;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.contact-form button:hover{
    color: #EA7442;
    background-color: transparent;
    border: solid 1px #0B4F66;
    box-sizing: border-box;    
}